<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Omega Blog</h1>
    <p>
        Hello, <%= @user.email%>
    </p>
    <p>
      You need to confirm your email account. <br>
      Plase, visit this link: <%= @url %>
    </p>
  </body>
</html>